<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICombatService" />
                <binding name="BasicHttpBinding_IProfileService" />
                <binding name="BasicHttpBinding_ICleanUpService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51937/CombatService/CombatService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICombatService"
                contract="CombatService.ICombatService" name="BasicHttpBinding_ICombatService" />
            <endpoint address="http://localhost:51937/ProfileService/ProfileService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfileService"
                contract="ProfileService.IProfileService" name="BasicHttpBinding_IProfileService" />
            <endpoint address="http://localhost:51937/CleanUpService/CleanUpService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICleanUpService"
                contract="CleanUpService.ICleanUpService" name="BasicHttpBinding_ICleanUpService" />
        </client>
    </system.serviceModel>
</configuration>